* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, input, button {
    font-family: "Heiti SC", sans-serifserif;
    color: #444747;
}

body {
    height: 100vh;

    background-image: url('../images/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
}

.content-wrapper, header, footer {
        background-color: rgba(200, 195, 195, 0.6);
}

.content-wrapper {
    align-self: flex-end;
    border-radius: 5px;
    width: 90vw;
    max-width: 1000px;
    height: 75vh;
    margin-bottom: 10vh;
    padding: 5%;

    display: flex;
    flex-direction: column;
    overflow: scroll;
}

header {
    padding: 10px;
    margin-top: 5vh;
    color: #31434f;
    position: fixed;
    top: 0;
    left: 0;
}

h3 {
    margin-top: 5%;
    text-transform: capitalize;
}


div.search {
    border-bottom: 2px solid #444747;
    margin: 15px 0;
}

div.image {
    border: 1px solid #444747;
    box-sizing: border-box;
    padding: 2%;
}

div.file, div.url {
    width: 49%;
    display: inline-block;
}

div.file label, div.url label {
    margin-top: 0;
}


input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

input.underline {
    border-bottom: 2px solid #444747;
}

input.search {
    width: 90%;
}

button, input[name='file']{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #444747;
}

button.search_arrow {
    font-size: 20px;
    float: right;
}
button.search_arrow:hover {
    font-weight: bold;
}

button[type="submit"]:hover, button[type="button"]:hover {
    font-weight: bold;
}

.forward {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    width: auto;
    cursor: pointer;
}
.forward:hover {
    text-decoration: underline;
}


label, p {
    display: block;
    margin: 15px 0 5px;
    line-height: 1.4;
}

textarea {
    background-color: transparent;
    border: 1px solid #444747;
    padding: 5px;
    width: 100%;
    height: 20vh;
    resize: none;
    overflow: auto;
    font-family: "Heiti SC", sans-serifserif;
    font-size: 16px;
    line-height: 120%;
    color: #444747;
}


a {
    color: #444747;
    text-decoration: none;
    text-transform: lowercase;
}
a:hover {
    text-decoration: underline;
}

.far:hover {
    font-weight: bold;
              }

#header-title {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 36px;
}

table {
    border: 1px solid #444747;
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
}
td, th {
    border: none;
    padding: 0.5rem;
}

.main_div {
    border-radius: 5px;
    /*background-color: rgb(245, 227, 129);*/
    /*border: rgb(95, 21, 21) solid 3px;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /*padding: 3em;*/
    height: 100%;
    width: 100%;
        }

.main {
    border-radius: 5px;
    /*background-color: rgb(241, 201, 115);*/
    /*border: rgb(95, 21, 21) solid 2px;*/
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* padding: 2em; */
    min-height: 80vh;
}

.question, .answer {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap; */
    /* height: 90%; */
    /*background-color: rgb(42, 184, 77);*/
    /*border: solid 3px rgb(14, 59, 7);*/
    /*font-size: 20px; */
}

.title_box {
    font-size: 140%;
}

.title_box h2 {
    padding: 1em 0;
}

.answer .title_box {
    font-size: 200%;
}

.info_row {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;

    /* flex: 1; */
    align-items: center;
    justify-content: space-between;
     font-size: 90%;
    /*padding: 1em 1em;*/
}

.comment .info_row {
    justify-content: flex-end;
}

.answer .info_row {
    font-size: 90%;
}

.comment .info_row {
    font-size: 80%;

}

.info_row button {
    font-size: 90%;
    float: none;
}

.message_box {
    background-color: rgba(233, 219, 219, 0.6);
    border-radius: 5px;
    padding: 1% 3% 0 3%;
    /*border: solid 3px rgb(192, 103, 2);*/
    margin-left: 4rem;
    margin-bottom: 1em;
}
.comment .message_box {
    margin-bottom: 0.4em;
}

.comment .far, .tag_row .far {
    font-size: 80%;
    /*margin-left: 1rem;*/
}

.comment .info_row div {
    margin-left: 1rem;
}

/*.answer .message {*/
/*    font-weight:bold ;*/
/*}*/

.menu_row {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(151, 181, 158);*/
    font-size: 100%;
    padding: 1% 0%;
    height: 2rem;
}

.answer .menu_row {
    padding-left: 50%;
}

.comment .menu_row {
    padding: 0 0 0 80%;

}

.tag_box {
    display: flex;
    border-radius: 5px;
    background-color: rgba(245, 234, 234, 0.6);
    margin-right: 3rem;
}



.tag_row {
    display: flex ;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    }

.tag_row .tag {
    margin-right: 0.4rem;
}

/*.tag_row div {*/
/*    margin-right: 2rem;*/
/*}*/


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
}
footer p {
    margin: 0;
    padding: 0;
    line-height: 3vh;
    font-size: 14px;
}
