* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, input, button {
    font-family: "Heiti SC", sans-serifserif;
    color: #444747;
}

body {
    height: 100vh;

    background-image: url('../images/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
}

.content-wrapper, header, footer {
        background-color: rgba(200, 195, 195, 0.8);
}

.content-wrapper {
    align-self: flex-end;
    border-radius: 5px;
    width: 90vw;
    max-width: 1000px;
    height: 75vh;
    margin-bottom: 10vh;
    padding: 5%;

    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    margin-top: 5vh;
    color: #31434f;
    position: fixed;
    top: 0;
    left: 0;
}

h3 {
    margin-top: 5%;
    text-transform: capitalize;
}


div.search {
    border-bottom: 2px solid #444747;
    margin: 15px 0;
}

div.image {
    border: 1px solid #444747;
    box-sizing: border-box;
    padding: 2%;
}

div.file, div.url {
    width: 49%;
    display: inline-block;
}

div.file label, div.url label {
    margin-top: 0;
}


input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

input.underline {
    border-bottom: 2px solid #444747;
}

input.search {
    width: 90%;
}

button, input[name='file']{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #444747;
}

button.search_arrow {
    font-size: 20px;
    float: right;
}
button.search_arrow:hover {
    font-weight: bolder;
}


.forward {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    width: auto;
    cursor: pointer;
    text-transform: capitalize;
}
.forward:hover {
    text-decoration: underline;
}


label, p {
    display: block;
    margin: 15px 0 5px;
    line-height: 1.4;
}

textarea {
    background-color: transparent;
    border: 1px solid #444747;
    padding: 5px;
    width: 100%;
    height: 20vh;
    resize: none;
    overflow: auto;
    font-family: "Heiti SC", sans-serifserif;
    font-size: 16px;
    line-height: 120%;
    color: #444747;
}


a {
    color: #444747;
    text-decoration: none;
    text-transform: lowercase;
}
a:hover {
    text-decoration: underline;
}

#header-title {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 36px;
}

table {
    border: 1px solid #444747;
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
}
td, th {
    border: none;
    padding: 0.5rem;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
}
footer p {
    margin: 0;
    padding: 0;
    line-height: 3vh;
    font-size: 14px;
}

i.far {
    color: #444747;
}