<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}How can I answer you?{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="content-wrapper">
    <header>
        <h1 id="header-title">Question Forum</h1>
    </header>
    <section>
        <h2 class="title text-center">{{ self.page_title() }}</h2>

{% block content %}
{#    <h1>Question Forum</h1>#}
    <div class="search">
        <form action="{{url_for("display_search_question")}}">
{#            <label for="search_input">Search on forum:</label>#}
            <input id="search_input" type="text" name="search" placeholder="Search">

            <button type="submit" class="submit">&rarr;</button>
        </form>
    </div>
{#    <h3>Last questions</h3>#}
    <div>
        <table border="1">
        <thead>
            <tr>
                {% for i in range(headers|length) %}
                    <th>
                        {{ headers[i] }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for key in story_keys %}
                        <td>
                            {% if key == "message" %}
                                {{ question[key][0:50] }}
                            {% elif key == "title" %}
                                <a href="{{url_for("display_question", question_id=question["id"]) }}">{{question[key]}}</a>
                            {% else %}
                                {{ question[key] }}
                            {% endif %}

                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}

        </tbody>
    </table>
    </div>
    <div>
        <a href="{{url_for("question_page") }}"><button type="button">&rarr; All questions</button></a>
    </div>
{% endblock %}
