<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searched Questions</title>
</head>
<body>
<h3>Searched Questions</h3>

    <table border="1">
        <thead>
            <tr>
                {% for i in range(headers|length) %}
                    <th>
                        {{ headers[i] }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for key in story_keys %}
                        <td>
                            {% if key == "message" %}
                                {{ question[key][0:50] }}
                            {% elif key == "title" %}
                                <a href="{{url_for("display_question", question_id=question["id"]) }}">{{question[key]}}</a>
                            {% elif key == "in_answer" %}
                                {% if question["id"] in answers %}
                                {% for answer in answers[question["id"]] %}
                                    {{ answer["message"]}}
                                    <br>
                                {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ question[key] }}
                            {% endif %}

                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}

        </tbody>
    </table>
    <br>
    <a href="{{url_for("main_page") }}"><button type="button">Back to Main Page</button></a>
</body>
</html>