{% extends 'layout_comment.html' %}

{% block title %}Update comment to {{ item_type }}{% endblock %}

{% block item %}
    <h1>{{ item_type }}</h1>
    <p>{{ item.message }}</p>
{% endblock %}

{#{% block comment %}{{ comment.message }}{% endblock %}#}


{% block action %}action = "{{ url_for(url, comment_id=comment.id) }}"{% endblock %}

{% block label %}Update comment to {{ item_type }}{% endblock %}

{% block message %}{{ comment.message }}{% endblock %}

{% block hidden %}name="{{ item_type }}_id" value="{{ item.id}}"{% endblock %}